body {

    background-image: url('/pic/camelbakgrunn132.jpg');
    background-position: center center center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-attachment: fixed;
}

.block_top li {
    margin-top: 1%;
    margin-left: 1%;
    display: inline-block;
    overflow: visible;
    color: white;
}

html, body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}
.block_top :hover li {
    color: orange;
}
.block_top {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    margin-top: 5%;
}

.grid_contact {
    display: grid;
    background-color: pink
    margin-top: 5%;
    margin-left: 2%;
    width: 35%;
    height: 70%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border-radius: 2%;
}
.grid-item-9 {
    grid-area: 1/1/2/2;
    z-index: 5;

}

    .grid-item-9 {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 35%;
        height: 70%;
        margin-left: 2%;
        margin-top: 6%;
        z-index: -1;
        overflow: hidden;
        border-radius: 2%;
    }

    .grid-item-9 video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute;
    }

.grid-item-1 {
 background-color:
 grid-row: 1/2 ;
 grid-column: 2/5;
}

.grid-item-2 {
    grid-area: 2/2/2/5;


}

.grid-item-3 /* Email text  */ { 
    grid-area: 2 / 2 / 2 / 2;
    margin-top: 43%;

}


.grid-item-6 /* name box */ {
    grid-area: 2/2/3/5;
    margin-left: 20%;
    margin-bottom: 25%;
    margin-top: 5.5%;
    margin-right: 3%;

}

.grid_contact h1 {
text-align: center;

}

.grid-item-7 /* Email text bottom  */ {
    grid-area: 2/2/2/5;
    margin-top: 19.9%;
    margin-bottom: 11%;
    margin-left: 20%;


}

.grid-item-4 {
    grid-area: 3 / 2 / 3 / 3;


}

.grid-item-8 /* message box */ {
    grid-area: 3 / 2 / 3 / 3;
    margin-top: 18%;
    margin-left: 80%;


}
