.block_top {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.block_top li {
    display: inline-block;
    margin-right: 20px;
    padding-left: 15px;
    overflow: visible;
}

.imgagee {
        height: 5px;
        width: 100px;
}

.imgagee img {
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {

    background-image: url('camelbakgrunn132.jpg');
    background-position: Center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 768px) {
    body {
       
    }
}

