.block_top {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.block_top li {
    display: inline-block;
    margin-right: 20px;
    padding-left: 15px;
    overflow: visible;
}

.imgagee {
        height: 5px;
        width: 100px;
}

.imgagee img {
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

body {

    background-image: url('camelbakgrunn132.jpg');
    height: 1000px;
    background-position: top;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
        margin: 15px;
         max-width: 90%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
        margin: 10px;
        max-width: 100%;
    }
    
}
